* {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
}

.about-us-header{
    display: flex;
}

h1 {
   
    text-align: center;
    color: white;
    background-color: red;
    margin: 10px 0px;
}

h2 {
    text-align: center;
    color: white;
    background-color: red;
    margin: 10px 0px;
}

p {
    font-family: Roboto;
    font-size: 20px;

}

.navbar-brand img{
    height: 75px;
    width: auto;
}

.card-container {
    display:flex;
}

.card {
    width: 18rem;
}

.card-img-top {
    width: 286.4px;
    height: 286.4px;
   
    
}




/* Products Page */

.products {
    background-color: gainsboro;
}

#carousel1 {
    font-family: 'Prompt', sans-serif;
    text-transform: uppercase;
}

#carousel2 {
    font-family: 'Prompt', sans-serif;
    text-transform: uppercase;
}

#carousel3 {
    font-family: 'Prompt', sans-serif;
    text-transform: uppercase;
}

.carousel-caption {
    text-shadow: 2px 2px 0 black; 
}


#button {
    font-family: 'Prompt', sans-serif;
}

