* {
    margin: 0;
    padding: 0;
}

.about-us-header{
    display: flex;
}

h1 {
   
    text-align: center;
    color: white;
    background-color: red;
    margin: 10px 0px;
}

h2 {
    text-align: center;
    color: white;
    background-color: red;
    margin: 10px 0px;
}

p {
    font-family: Roboto;
    font-size: 20px;

}

.logo {
    height: 100px;
    width: auto;
}

.card-container {
    display:flex;
}

.card {
    width: 18rem;
}

.card-img-top {
    width: 100%;
    height: auto;
   
    
}


