* {
    margin: 0;
    padding: 0;
}


.about-us-header{
    display: flex;
}

h1 {
    text-align: center;
    color: white;
    background-color: red;
    margin: 10px 0px;
}

h2 {
    text-align: center;
    color: white;
    background-color: red;
    margin: 10px 0px;
}

p {
    font-family: Roboto;
    font-size: 20px;

}

.navbar-brand img{
    height: 75px;
    width: auto;
    border-radius: 50%;
}

.card-container {
    display:flex;
}

.card-img-top {
    width: 286.4px;
    height: 286.4px;
}

.card {
    margin: auto;
    width: 50%;
    width: 40rem;
}

.card-img-top {
    width: 28rem;
    height: 20rem;
}

footer {
    display: flex;
    color: white;
    background-color: black;
    justify-content: space-between;
}


/* Products Page */

.products {
    background-color: gainsboro;
}

#carousel1 {
    font-family: 'Prompt', sans-serif;
    text-transform: uppercase;
}

#carousel2 {
    font-family: 'Prompt', sans-serif;
    text-transform: uppercase;
}

#carousel3 {
    font-family: 'Prompt', sans-serif;
    text-transform: uppercase;
}

.carousel-caption {
    text-shadow: 2px 2px 0 black; 
}


#button {
    font-family: 'Prompt', sans-serif;
}

